* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

body {
  background: #FAFAFA;
  color: #111517;
}

.nav {
  background: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.3s ease-out;
  z-index: 50;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px;
  text-align: center;
  row-gap: 10px;
}
.nav-title {
  font-size: 30px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-left p {
  font-size: 18px;
}
.nav-left .dark-mode {
  background: yellow;
  width: 50px;
  padding: 2px 3px;
  border-radius: 20px;
  display: flex;
}
.nav-left .dark-mode i {
  padding: 5px;
  background: rgba(126, 124, 99, 0.356);
  border-radius: 50%;
}
.nav-left .dark-mode .dark {
  color: white;
  transform: translateX(23px);
  animation-name: darkk;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.nav-left .dark-mode .mode {
  display: none;
}

@keyframes darkk {
  0% {
    transform: translateX(23px);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-shrink {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4509803922);
}
.nav-shrink .container {
  padding: 10px 0px;
}

.darkMode {
  background: #202C36;
  color: white;
}
.darkMode .nav {
  background: #2B3844;
}
.darkMode .nav .dark-mode {
  background: #93b8de;
}
.darkMode .nav .dark-mode .dark {
  display: none;
}
.darkMode .nav .dark-mode .mode {
  display: block;
  padding: 5px 7px;
  animation-name: darkMode;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes darkMode {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(23px);
  }
}
main {
  margin: 200px 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
main .img {
  width: 50%;
}
main .img img {
  width: 100%;
}
main .card {
  width: 45%;
}
main .card .tit {
  font-size: 30px;
  padding: 10px 0px;
}
main .card .info {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0px;
}
main .card .info span {
  font-weight: 400;
  padding: 0px 10px;
  border-radius: 5px;
}

@media (max-width: 930px) {
  main {
    flex-direction: column;
  }
  main .img {
    width: 70%;
  }
  main .card {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
  main .img {
    width: 100%;
  }
}